# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
node_modules/
docTemplates/
.cache/

## Demo support files
demo/*.css
demo/*.css.map

## CSS built from Sass process
src/*.css
src/*.css.map

## *-css built from sass-render process
*-css.js

## dist files
dist/
build/

## Code coverage reports
coverage/
